.searchlogo{
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 50px;
    font-weight: 400 !important;
}

.logo-col{
color: #4c75f2;
font-family: "Montserrat";
}